@font-face {
    font-family: poppins-bold;
    src: url('/assets/fonts/Poppins-SemiBold.ttf');
  }
  @font-face {
    font-family: poppins-regular;
    src: url('/assets/fonts/Poppins-Regular.ttf');
  }
  @font-face {
    font-family: poppins-this;
    src: url('/assets/fonts/Poppins-Thin.ttf');
  }
html,body{
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    --webkit-scroll-behavior:smooth;
    --o-scroll-behavior:smooth;
    --ms-scroll-behavior:smooth;
    background:rgb(238, 238, 238); 
}
h1,h2,h3,h4,h5,h6{
    font-family: 'poppins-bold';
}
p,span{
    font-family: 'poppins-regular';
}
a{
    font-family:'poppins-this';
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
}
.flex{
    display: flex;    
    justify-content: center;
    align-items: center;
}
.flex-row{
    flex-direction: row;
}
.flex-column{
    flex-direction: column;
}
section{
    width: 100%;
    height: 100%; 
}
section .img{
    width: 100%;
    height: auto;
}
section .img img{
    width: 60%;
    height:inherit;
}
.text{
    width: 90%;
}
.text-h{
    font-size:18px;    
    text-align: center;
    margin-top: 22px;
}
.text-p{
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:16px;
}
.contant{
    width: 90%; 
    flex-direction: column;
    justify-content: space-between;
}
.product-button {
    width: 80%;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    color: #4f4f4f;
}
.product-button:focus{    
    background: rgb(98, 71, 250);
    outline: none;
    --webkit-outline:none;
    --o-outline:none;
    --ms-outline:none;
}
.right-button {
    margin-top:10px;
    background: rgb(98, 71, 250);
    color: #fff; 
    transform: translate(0px, -2px);
    box-shadow: 0 15px 10px -15px rgb(98, 71, 250);
    transition: all 0.3s ease-in-out;
}

.right-button:hover {
    color: #fff;
    /*box-shadow: 0px 15px 10px -15px rgba(98,71,250,0.5);*/
}

.left-button {
    margin-top:10px;
    background: rgb(242, 242, 242);
    color: #696969; 
    transition: all 0.3s ease-in-out;
}

.left-button:hover {
    background: rgb(98, 71, 250);
    color: #fff;
    transform: translate(0px, -2px);
    box-shadow: 0 15px 10px -15px rgb(98, 71, 250);
}

.left-button:hover ~ .right-button {
    background: rgb(242, 242, 242);
    box-shadow: none;
    color: #696969;
    transform: translate(0px, 0px);
}

@media (min-width:761px){
    section .img img{
        width:20%;
    }    
    .text{
        width: 45%;
        text-align: center;
    }
    .contant{
        width: 35%;
        flex-direction:row;
    }
    .product-button {
        width:45%;
    }
    .right-button {        
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px; 
    }
    .left-button { 
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px; 
    }        
    .text-h{
        font-size: 22px;   
    }
    .text-p{
        font-size: 18px;
    }
}